:root {
  --font-primary: 'Georgia';
  --font-secondary: 'Verdana';
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #cac8c8;
  --clr-accent2: #008fbf;
  --clr-accent3: #d3e6ed;

  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --darkYellow: #895900;
}

body {
  font-family: var(--font-secondary), sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: var(--font-primary);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.navbarCustom {
  overflow: hidden;
  background: var(--clr-accent2);
  padding: 0 2em 0 2em;
  min-width: 300px;
  width: 100%;
  margin-top: -70px !important;
  margin-bottom: 0px;
  border-top: solid thin;
  border-bottom: solid thin;
  border-top-color: var(--clr-accent3);
  border-bottom-color: var(--clr-accent3);
  /* align-items: center;
  align-content: center; */
}

.navbar-logo-container {
  position: relative;
  /* border: solid thin black; */
  float: left;
  /* margin-top: -120px; */
  margin-left: 5px;
  padding-top: 0px;
  padding-left: 0px;
  /* box-shadow: var(--bgShadow); */
  border-radius: 50% / 10%;
  width: 160px;
  height: 170px;
  background-color: transparent;
  z-index: 1;
}

.navbar-logo-container:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
  z-index: -1;
  /* border-left: solid;
  border-right: solid;
  border-color: black; */
}

.navbar-logo-img {
  grid-area: img;
  position: relative;
  margin-top: 10px;
  margin-left: 50px;
  border: solid 1.4px;
  border-radius: 50%;
  border-color: var(--clr-accent2);
  min-width: 50px;
  width: 120px;
  height: 120px;
  transition: transform 1500ms cubic-bezier(.5,.5,.5,.5), opacity 250ms linear;
  z-index: 99;
}

.navbar-logo-img:hover {
  transform: rotate(20deg);
}

.navbar-dropdown-section {
  margin-left: 200px;
}

.navbar-dropdown {
  float: left;
  overflow: hidden;
  font-size: 14px;
  border: none;
  outline: none;
  color: var(--mainWhite);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  /* cursor: default !important; */
}

.navbar-dropdown:hover {
  background-color: var(--mainWhite);
  color: var(--clr-accent2)
}

.navbar-dropdown:hover .navbar-dropdown-content{
  background-color: var(--mainWhite);
  display: block;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  margin-left: -10px;
  margin-top: 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  background-color: var(--mainWhite);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar-link {
  text-decoration: none;
  color: var(--clr-accent2);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin: 0px;
  text-transform: capitalize;
  /* margin-left: 10px;
  margin-top: 5px; */
}

.navbar-link:hover {
  color: var(--darkYellow);
  background-color: var(--clr-accent3);
}

.navbar-right {
  float: right;
}

.navbar-cart-btn {
  text-transform: capitalize;
  font-size: 1.1rem;
  background: transparent;
  border: 0.05rem solid var(--clr-accent2);
  border-color: var(--mainWhite);
  color: var(--mainWhite);
  border-radius: 0.5rem;
  /* padding: 0.5rem 0.5rem; */
  cursor: pointer;
  margin-top: 10px;
  /* margin: 0.2rem 0.5rem 0.2rem 0; */
  transition: all 0.5s ease-in-out;
  &:focus {
    outline: none;
  }
}

.navbar-cart-btn:hover {
  background: var(--mainYellow);
  border-color: var(--mainYellow);
  color: var(--mainBlue);
}


.hr-mobile {
  display: none;
  width: 100%;
  height: 2px;
  background-color: var(--clr-accent2);
}

.app {
  top: 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.cart {
  margin-top: 50px;
  max-width: 98%;
}

.footerBar {
  left: 0;
  min-width: 100%;
  background-color: var(--clr-accent2);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
  margin-top: auto;
}

.headerBar {
  left: 0;
  min-width: 100%;
  background-color: var(--clr-accent2);
  /* position: absolute; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
  margin-top: auto !important;
  /* bottom: 0;
  right: 0; */
}

@media (max-width: 640px) {
  .navbarCustom {
    display: none;
  }

  .navbar-logo-img {
    /* left: 33%; */
    left: calc((100% - 160px) / 2);
    width: 160px;
    height: 160px;
  }

  .hr-mobile {
    display: block;
  }
}